<h1>Listes des articles</h1>

<p><%=link_to "Créer un nouvel article", new_article_path%></p>

<table>
    <tr>
        <th>Titre</th>
        <th>Description</th>
    </tr>
    
    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
            <td><%= link_to "Editer", edit_article_path(article) %></td>
            <td><%= link_to "Voir", article_path(article) %></td>
        </tr>
    <% end %>
</table>